{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not ie <= 8"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-object-rest-spread",
    "@babel/plugin-syntax-jsx",
    "@vue/babel-plugin-transform-vue-jsx",
    // [
    //   "component",
    //   {
    //     "libraryName": "element-ui",
    //     "styleLibraryName": "theme-chalk"
    //   },
    //   "element-ui"
    // ],
    [
      "import",
      {
        "libraryName": "vxe-table",
        "style": true
      },
      "vxe-table"
    ],
    [
      "import",
      {
        "libraryName": "vxe-pc-ui",
        "style": true
      },
      "vxe-pc-ui"
    ]
  ]
}
