{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [],
  "parser": "vue-eslint-parser",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "document": true,
    "window": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "parser": "babel-eslint",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "prettier",
    "vue"
  ],
  "rules": {}
}