{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "plugin:vue/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "parser": "babel-eslint",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "prettier",
    "vue"
  ],
  "rules": {
    "no-undef": "off",
    "no-console": "off", // 禁止使用console
    "indent": [
      2,
      2
    ],
    "quotes": [
      2,
      "single"
    ],
    "vue/script-setup-uses-vars": "off",
    "no-unused-vars": [
      1,
      {
        "vars": "all",
        "args": "after-used"
      }
    ],
    "vue/max-attributes-per-line": [
      1,
      {
        "singleline": 3
      }
    ],
    "vue/multi-word-component-names": "off",
    "vue/singleline-html-element-content-newline": "off"
  }
}