$--color-primary: #068d0c;
$--color-white: #ffffff;
$--color-black: #000000;
$--color-grey: #808080;
$--color-darkred: #8b0000;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index.scss';
