@import '~vxe-table/styles/variable.scss';

$vxe-font-size: 14px;
$vxe-font-color: #666;
$vxe-primary-color: #068d0c;
$vxe-table-font-color: $vxe-font-color;
$vxe-table-border-color: #e8eaec;
$vxe-table-border-radius: 4px;

@import '~vxe-table/styles/icon.scss';
@import '~vxe-table/styles/table.scss';
@import '~vxe-table/styles/column.scss';
@import '~vxe-table/styles/header.scss';
@import '~vxe-table/styles/footer.scss';
@import '~vxe-table/styles/filter.scss';
